.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: white;
  color: #DC2626;
  border: 1px solid #DC2626;
  margin: 3px;
}