@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Comfortaa";
    font-weight: normal;
    font-size: medium;
    font-style: normal;
}

.delawareRedBg {
    background-color: #C32828;
}

.delawareRed {
    color: #C32828;
}

.delawareGrayBg {
    background-color: #D9D9D9;
}

.errorText {
    color: red;
}

.defaultAvatar {
    background-color: red;
}

#login-container {
    background-image: url(/images/Login-background-start.png), url(/images/Login-background-end.png);
    background-size: 16rem;
    background-color: #C32828;
    background-position: left -12px top 16px, right -12px bottom 16px;
    background-repeat: no-repeat;
}

#h1{
    font-weight: bolder;
    font-size: large;
    color: white;
}

#product-container {
    background-image: url(/images/ProductBackground1.png), url(/images/BestellingBackground3.png), url(/images/BestellingBackground1.png), url(/images/ProductBackground2.png);
    background-repeat: no-repeat;
    background-size: 15rem, 5rem, 8rem, 5rem;
    background-position: top 82px right 12px, top 400px left 290px, top 565px right 280px, bottom 200px left 690px;
}

#profiel-title {
    background-image: url(/images/backgroundTitle.png), url(/images/books.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#profiel-container {
    background-image: url(/images/BestellingBackground1.png), url(/images/BestellingBackground2.png), url(/images/BestellingBackground3.png), url(/images/BestellingBackground4.png);
    background-size: 8rem, 5rem, 5rem, 6rem;
    background-position: left 295px top 2px, left 256px top 350px, right -24px top 100px, right -28px bottom 30px;
    background-repeat: no-repeat;
}

#gegevens-container {
    background-image: url(/images/delawareFooter2.png);
    background-repeat: repeat-x;
    background-size: 50rem;
    background-position: top 550px left -5px;
}

@media screen and (max-width: 600px){
    #bedrijfgegevensGridOne {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 944px){
    #bedrijfgegevensGridTwo {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.footer {
    position: relative;
    margin-top: 70px;
    width: 100%;
    background: rgba(220, 38, 38);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/images/Wave.png);
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  